---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qbitorrent-config
  namespace: downloads
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-static
  volumeMode: Filesystem
  volumeName: pvc-2b6dd897-7038-4fa3-b2ca-e415cd79dd00
