---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cabinetpiet
  namespace: cabinetpiet
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-login-secret
    controllers:
      cabinetpiet:
        replicas: null
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/geckosplinter/cabinet-piet
              tag: 1.1.0
              pullPolicy: IfNotPresent
            ports:
              - name: http
                containerPort: &port 8080
            resources:
              requests:
                cpu: 50m
                memory: 20Mi
              limits:
                cpu: 500m
                memory: 200Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8081
              readiness: *probes
    service:
      app:
        controller: cabinetpiet
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "${SECRET_DOMAIN_WEB_CABINET}"
          - "www.${SECRET_DOMAIN_WEB_CABINET}"
        parentRefs:
          - name: cabinet
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
