---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.4.2
            env:
              TZ: 'Europe/Paris'
              HASS_HTTP_TRUSTED_PROXY_1: 192.168.10.0/24
              HASS_HTTP_TRUSTED_PROXY_2: 192.168.42.0/24
              HASS_HTTP_TRUSTED_PROXY_3: 10.42.0.0/16
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            ports:
              - name: http
                containerPort: 8123
              - name: sonos
                containerPort: 1400
              # Needed for Shelly devices
              - name: coiot
                containerPort: 5683
                protocol: UDP
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
          code:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.98.2
            env:
              TZ: Europe/Paris
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "80",
              "/config"
            ]
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    service:
      app:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "192.168.42.70"
        controller: home-assistant
        ports:
          http:
            port: 8123
          code:
            port: 80
          sonos:
            port: 1400
          coiot:
            port: 5683
            protocol: UDP
    ingress:
      app:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        className: external
        hosts:
          - host: home.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      code:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${SECRET_DOMAIN}"
        className: internal
        hosts:
          - host: hass-code.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: code
    persistence:
      config:
        existingClaim: home-assistant
        globalMounts:
          - path: /config
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
        globalMounts:
          - path: :/tmp
