---
warp-routing:
  enabled: true

originRequest:
  originServerName: "external.${SECRET_DOMAIN}"

ingress:
  - hostname: "${SECRET_DOMAIN}"
    service: &svc https://envoy-network-external-envoy-e25f34ee.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN}"
    service: *svc
  - hostname: "${SECRET_DOMAIN_WEB_CABINET}"
    service: &svc_cabinet https://envoy-network-cabinet-envoy-a60e0954.network.svc.cluster.local:443
    originServerName: "external.${SECRET_DOMAIN_WEB_CABINET}"
  - hostname: "*.${SECRET_DOMAIN_WEB_CABINET}"
    service: *svc_cabinet
    originServerName: "external.${SECRET_DOMAIN_WEB_CABINET}"
  - service: http_status:404
