---
apiVersion: v1
kind: Service
metadata:
  name: nas
  namespace: network
spec:
  ports:
    - protocol: TCP
      port: 443
      targetPort: 443
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: &service nas
  labels:
    kubernetes.io/service-name: *service
addressType: IPv4
ports:
  - name: https
    protocol: TCP
    port: 443
endpoints:
  - addresses:
      - "192.168.42.10"
    conditions:
      ready: true
    hostname: *service
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nas
spec:
  hostnames: ["nas.${SECRET_DOMAIN}"]
  parentRefs:
    - name: internal-envoy
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - name: nas
          namespace: network
          port: 443
