---
apiVersion: v1
kind: Service
metadata:
  name: pihole
  namespace: network
  labels:
    app: pihole
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: &service pihole
  labels:
    kubernetes.io/service-name: *service
addressType: IPv4
ports:
  - name: http
    protocol: TCP
    port: 80
endpoints:
  - addresses:
      - "192.168.42.3"
    conditions:
      ready: true
    hostname: *service
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: pihole
spec:
  hostnames: ["pihole.${SECRET_DOMAIN}"]
  parentRefs:
    - name: internal-envoy
      namespace: envoy-gateway-system
      sectionName: https
  rules:
    - backendRefs:
        - name: pihole
          namespace: network
          port: 80
