---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 24.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  upgrade:
    remediation:
      retries: 3
  rollback:
    cleanupOnFail: true
  values:
    deployment:
      replicas: 2
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values:
              - traefik
          topologyKey: kubernetes.io/hostname
    service:
      annotations:
        io.cilium/lb-ipam-ips: "192.168.42.65"
      spec:
        loadBalancerIP: "192.168.42.65"
    ports:
      web:
        port: 8000
        expose: true
      websecure:
        port: 8443
        expose: true
      http-pub:
        port: 7080
      https-pub:
        port: 7443
      metrics:
        port: 9100
        expose: false
    ingressRoute:
      dashboard:
        enabled: false
        tlsOptions:
    tlsOptions:
      default:
        minVersion: VersionTLS12
        maxVersion: VersionTLS13
        sniStrict: true
    pilot:
      enabled: false
    additionalArguments:
      - '--entryPoints.web.http.redirections.entryPoint.to=websecure'
      - '--entryPoints.web.http.redirections.entryPoint.scheme=https'
      - '--entrypoints.web.http.redirections.entryPoint.to=:443'
      - '--entryPoints.http-pub.http.redirections.entryPoint.to=https-pub'
      - '--entryPoints.http-pub.http.redirections.entryPoint.scheme=https'
      - '--entrypoints.http-pub.http.redirections.entryPoint.to=:443'
      - '--providers.kubernetescrd.allowcrossnamespace=true'

