---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 5m
  chart:
    spec:
      chart: longhorn
      version: 1.6.2
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  upgrade:
    remediation:
      retries: 3
  rollback:
    cleanupOnFail: true
  values:
    enablePSP: false
    defaultSettings:
      backupTarget: "${SECRET_LONGHORN_BACKUP_TARGET}"
