---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-red
  namespace: home
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: home-assistant
      namespace: home
  values:
    # TODO
    #initContainers:
    #  npm-update-modules:
    #    image: node:12-buster-slim@sha256:426f05df1d1feefa841471c0faa22a20db286766bf528993421847f9a3b8efe3
    #    command: ["npm", "update", "--verbose"]
    #    workingDir: /data
    #    volumeMounts:
    #      - name: config
    #        mountPath: /data
    controllers:
      node-red:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/k8s-at-home/node-red
              tag: v3.0.2
            env:
              TZ: "Europe/Paris"
              #NODE_RED_ENABLE_PROJECTS: "true"
              #NODE_RED_ENABLE_SAFE_MODE: "false"
            resources:
              requests:
                memory: 350Mi
                cpu: 25m
              limits:
                memory: 500Mi
    service:
      app:
        controller: node-red
        ports:
          http:
            port: 1880
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: node-red-config
        globalMounts:
          - path: /data
