---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-controller
  namespace: network
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      unifi-controller:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/unifi-controller
              tag: 8.0.24
            env:
              TZ: Europe/Paris
              PUID: 1000
              PGID: 1000
              MEM_LIMIT: 2048
              MEM_STARTUP: 1024
            resources:
              requests:
                cpu: 300m
                memory: 1Gi
              limits:
                memory: 3Gi
    service:
      app:
        controller: unifi-controller
        type: LoadBalancer
        loadBalancerIP: 192.168.41.71
        annotations:
          io.cilium/lb-ipam-ips: "192.168.42.71"
        ports:
          http:
            port: 8443
          device-comm:
            enabled: true
            port: 8080
          ap-discovery:
            enabled: true
            protocol: UDP
            port: 10001
          stun:
            enabled: true
            protocol: UDP
            port: 3478
          mobile-speed:
            port: 6789
          remote-syslog:
            enabled: false
            protocol: UDP
            port: 5514
    persistence:
      config:
        existingClaim: unifi-config
        globalMounts:
          - path: /config
